attrs~=26.1.0
black~=26.5.1
boto3~=1.43.106
botocore~=1.43.106
click~=8.5.0
coverage~=7.16.2
iniconfig~=2.3.0
Jinja2~=3.1.6
jmespath~=1.1.0
MarkupSafe~=3.0.3
mypy-extensions~=1.1.0
packaging~=26.3
pathspec~=1.1.1
platformdirs~=4.12.2
pluggy~=1.6.0
pyparsing~=3.3.3
pytest~=9.1.1
pytest-cov~=7.1.0
pytest-mock~=3.16.0
python-dateutil~=2.9.0.post0
s3transfer~=0.19.2
six~=1.17.0
tomli~=2.4.1
urllib3~=2.8.0
